{
  "version": 1,
  "current": "plan",
  "turn": 0,
  "inputs": {
    "todo": "タスクをここに記述"
  },
  "last_artifacts": {},
  "artifacts_dir": ".deespec/var/artifacts",
  "meta": {
    "updated_at": "%s"
  }
}